<header style="background-color: black; color: white; display: flex; justify-content: flex-end;">
    <ul style="display: flex; padding: 1rem; gap: 1rem; list-style: none;">
        <li>Home</li>
        <li>About</li>
        <li>Contactus</li>
        <li>signup</li>
    </ul>
</header>